 .carousel-inner img {
    width: 100%;
    height: auto;
  }
  .center
  {
  	position: absolute;
  	top: 31%;
  	 transform: translate(0%, 0%);
  }
  .center p
  {
  	font-size: 26px;
  	padding-top: 40px;
  	width: 52%;
  	margin-left: 234px;
  }
  .font1
  {
  	font-size: 80px;
  }
  .bg-op
  {
  	opacity: 0.5;
  	background-color: #fff;
  }
  .bg-op-red
  {
  	background-color: #ff0000;
  	color: #fff;
  }
  .font
  {
  	font-size: 14px;
  }
  .brbr
  {
  	border-bottom: 2px solid rgba(255, 255,255,.3);
  }
  .height
  {
  	height: 400px;
  }
  .index
  {
  	z-index: 1;
  }
  .custom-img , .custom-img div
  {
  	padding: 0px!important;
  	margin: 0px!important;
  }
  .head-bar
  {
  	z-index: 1;
  }